{% extends "base.html" %}
{% block content %}
<h2 class="text-center">Exercises</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-4">
  {% for exercise in exercises %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ exercise.image_url }}" class="card-img-top" alt="{{ exercise.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ exercise.name }}</h5>
        <p class="card-text">{{ exercise.instructions }}</p>
        <p><strong>Difficulty:</strong> {{ exercise.difficulty }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}