{% extends "base.html" %}
{% block content %}
<h2 class="text-center">Forgot Password?</h2>
<p class="text-center">Enter your email address to reset your password.</p>
<form method="post" class="text-center mt-4">
    <div class="d-flex justify-content-center">
        <input type="email" name="email" class="form-control w-50" placeholder="Enter your email" required>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary btn-lg">Send</button>
    </div>
</form>
{% endblock %}