{% extends "base.html" %}
{% block content %}
<main class="hero-section">
    <div class="black-box">
        <h2 class="text-center mb-4">Forgot Password?</h2>
        <p class="text-center mb-4">
            Enter your email address to reset your password. We’ll send you a recovery link.
        </p>
        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="gmail.com" aria-label="gmail.com">
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg px-5" type="submit">Send</button>
        </div>
    </div>
</main>
{% endblock %}