{% extends "base.html" %}
{% block content %}
<div>
    <h2 class="text-center">Workout Plans</h2>
    <form method="post" class="mt-4">
        <div class="mb-3">
            <label for="name" class="form-label">Workout Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="e.g., Running" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="description" class="form-control" rows="3"></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Add Workout</button>
        </div>
    </form>

    <h3 class="mt-5">Your Workouts:</h3>
    <table class="table table-hover mt-3">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for workout in workout_plans %}
        <tr>
            <td>{{ workout.name }}</td>
            <td>{{ workout.description }}</td>
            <td>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}